@* using MVCCRUDBooks.Models.Entities *@
@* @model List<MVCCRUDBooks.Models.Entities.Book> *@
@* @model List<Book> *@
@model BooksViewModel


@{
    ViewData["Title"] = "Book List";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="text-center">
    <table class="table table-bordered">
        <thead>
        <tr>
             <th>Id</th>
             <th>Titulo</th>
             <th>Categoria</th>
             <th>Autor</th>
             <th>FechaEdicion</th>
             <th>Editora</th>
        </tr>
        </thead>
        <tr>
            <td colspan="6"> All Books</td>
        </tr>
        @foreach(var item in Model.AllBooks)
        {
             <tr>
                <td>@item.Id</td>
                <td>@item.Titulo</td>
                <td>@item.Categoria</td>
                <td>@item.Autor</td>
                <td>@item.FechaEdicion</td>
                <td>@item.Editora</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
